[submodule "gazebo-pkgs"]
	path = gazebo-pkgs
	url = https://github.com/JenniferBuehler/gazebo-pkgs.git
[submodule "general-message-pkgs"]
	path = general-message-pkgs
	url = https://github.com/JenniferBuehler/general-message-pkgs.git
